  
  table {
    width: 100%;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin: 2%;
  }

  .end{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .center>button{ margin: 2%; width: 200px; }  
  .end>button{  border-radius: 25px;  }

.desktop-scroll{
  height: 37em;overflow-y: scroll;
}
.mobile-scroll{
  height: 100vh;overflow-y: scroll;
}
.scroll1{
  height: 45em;overflow-y: scroll;
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// .scroll::-webkit-scrollbar {
//   display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// .scroll {
// -ms-overflow-style: none;  /* IE and Edge */
// scrollbar-width: none;  /* Firefox */
// }

.fontsize{
    font-size: 16px;
    line-height: 1.5;
  }

  .select1{
    padding: 1%;
  border-radius: 5px;
width:150px;
margin-right: 2%;
}

  .select2{
    padding: 1%;
  border-radius: 5px;
width:200px}