  
  table {
    width: 100%;
  }
  
  // .mat-column-topic {
  //   width: 10px;
  // }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin: 2%;
  }

  .end{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }
  .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .center>button{ margin: 2%;  }  
  .end>button{  border-radius: 25px;  }

.scroll{
  height: 35em;overflow-y: scroll;
}

// /* Hide scrollbar for Chrome, Safari and Opera */
// .scroll::-webkit-scrollbar {
//   display: none;
// }

// /* Hide scrollbar for IE, Edge and Firefox */
// .scroll {
// -ms-overflow-style: none;  /* IE and Edge */
// scrollbar-width: none;  /* Firefox */
// }