<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <mat-card style="width: 50em;background-color: rgb(255, 255, 255);">
      <mat-card-content>

        <h1 class="center">{{heading}}</h1>

  
        <div class="scroll">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="explanation">
              <td mat-cell *matCellDef="let element">
                <h2 style="background-color: #3f51b5;color: white;text-align: center;">{{element.topic}}</h2>
                <div *ngFor="let topic of element.explanation">
                  <mat-card-header>
                    <h2 *ngIf="topic.subtopic!=element.topic">{{topic.subtopic}}</h2>
                  </mat-card-header>
                  <mat-card-content *ngIf="checkfunc(topic.explanation) && !programfunc(topic.subtopic)">
                    <li *ngFor="let val of splitfunc(topic.explanation)"> {{val}} </li>
                    <div *ngIf="topic.image" style="border: 1px solid #060606;" class="center"><img width="100%" [src]="topic.image"></div>
                  </mat-card-content>
                  <mat-card-content *ngIf="checkfunc(topic.explanation) && programfunc(topic.subtopic)">
                    <pre style="white-space: pre-wrap; text-align: justify;" *ngFor="let val of splitfunc(topic.explanation)"> {{val}} </pre>
                    <div *ngIf="topic.image" style="border: 1px solid #060606;" class="center"><img width="100%" [src]="topic.image"></div>
                  </mat-card-content>
                  <mat-card-content *ngIf="!checkfunc(topic.explanation)">
                    <p *ngFor="let val of splitfunc(topic.explanation)"> {{val}} </p>
                    <div *ngIf="topic.image" style="border: 1px solid #060606;" class="center"><img width="100%" [src]="topic.image"></div>
                  </mat-card-content>
                </div>
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        </div>
  
        
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="end">
          <button mat-raised-button color="primary" (click)="addTask()">Add Topic</button>
        </div>
        
        <div class="center">
          <button mat-raised-button color="primary" (click)="changeSub('Angular')">Angular</button>
          <!-- <button mat-raised-button color="primary" (click)="changeSub('Mongodb')">Mongodb</button> -->
          <!-- <button mat-raised-button color="primary" (click)="changeSub('React')">React</button> -->
          <!-- <button mat-raised-button color="primary" (click)="changeSub('Node')">Node</button> -->
          <!-- <button mat-raised-button color="primary" (click)="changeSub('Express JS')">Express JS</button> -->
          <button mat-raised-button color="primary" (click)="changeSub('HTML')">HTML</button>
          <button mat-raised-button color="primary" (click)="changeSub('CSS')">CSS</button>
          <button mat-raised-button color="primary" (click)="changeSub('Program')">Program</button>

        </div>



  
      </mat-card-content>
    </mat-card>
  </div>
