  
  table {
    width: 100%;
  }
  
  // .mat-column-topic {
  //   width: 10px;
  // }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    margin: 2%;
  }

  .end{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
  }